In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/yasarkucukefe/YBS462/main/data/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
def AgeEstimationWithPclass(cols):
    Age = cols[0]
    Pclass = cols[1]
    if pd.isnull(Age):
        if Pclass == 1: Age = 37
        if Pclass == 2: Age = 29
        else: Age = 24
    return Age

In [5]:
df['Age'] = df[['Age','Pclass']].apply(AgeEstimationWithPclass, axis = 1)

In [6]:
sex_column = pd.get_dummies(df['Sex'], drop_first = True)

In [7]:
df = pd.concat([df, sex_column], axis=1)

In [8]:
df.drop(['Cabin', 'Embarked','Name','Ticket', 'Sex'], axis = 1, inplace = True)

In [9]:
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male
0            1         0       3  22.0      1      0   7.2500     1
1            2         1       1  38.0      1      0  71.2833     0
2            3         1       3  26.0      0      0   7.9250     0
3            4         1       1  35.0      1      0  53.1000     0
4            5         0       3  35.0      0      0   8.0500     1

In [10]:
all_count = len(df.index)
no_survive_count = len(df[df['Survived'] == 0].index)
survive_count = len(df[df['Survived'] == 1].index)

print(f"Toplam sayı: {all_count}\nKurtulamayan sayısı: {no_survive_count}\nKurtulan sayısı: {survive_count}");

Toplam sayı: 891
Kurtulamayan sayısı: 549
Kurtulan sayısı: 342

In [11]:
x = df.drop('Survived',axis=1)
y = df['Survived']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

In [13]:
x_train.shape

(623, 7)

In [14]:
scaler = StandardScaler().fit(x_train)

In [15]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

# Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
log_reg_model = LogisticRegression()

In [18]:
log_reg_model.fit(x_train, y_train)

LogisticRegression()

In [19]:
log_reg_predict = log_reg_model.predict(x_test)

In [20]:
print(classification_report(y_test, log_reg_predict))

              precision    recall  f1-score   support

           0       0.85      0.85      0.85       172
           1       0.73      0.73      0.73        96

    accuracy                           0.81       268
   macro avg       0.79      0.79      0.79       268
weighted avg       0.81      0.81      0.81       268

# Support Vector Machines

In [21]:
from sklearn.svm import SVC

In [22]:
svm_model = SVC()

In [23]:
svm_model.fit(x_train, y_train)

SVC()

In [24]:
svm_predict = svm_model.predict(x_test)

In [25]:
print(classification_report(y_test, svm_predict))

              precision    recall  f1-score   support

           0       0.85      0.90      0.88       172
           1       0.80      0.72      0.76        96

    accuracy                           0.84       268
   macro avg       0.83      0.81      0.82       268
weighted avg       0.83      0.84      0.83       268